<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.palmapp.master.module_transform">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application>
        <activity android:name=".activity.ResultActivity"></activity>
        <activity android:name=".activity.TakePhotoActivity"
                android:theme="@style/AppTheme.Fullscreen"/>
    </application>

</manifest>